*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

/* common styles */
body{
    font-family: 'Work Sans', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

.hot-pink-character{
    color:#FF42A5;
}

.secondary-heading{
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2, #8758F1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.primary-text{
    color:#534C64;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 12px 30px;
    background: #FF42A5;
    color: white;
    border: 2px solid transparent;
    border-radius: 25px;
    transition: all 0.2s ease-out;
}

.btn-primary:hover{
    background: white;
    color: #FF42A5;
    border: 2px solid #FF42A5;
    cursor: pointer;
}

.heading-dark {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

/* navigation bar styles */
.nav-container{
    margin: 0 auto;
    padding: 2% 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    display: flex;
    align-items: center;
}

.nav-title img{
    margin-right: 6%;
}

.nav-title h2{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.menu-container{
    width: 40%;
}

.menu-container ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.menu-container a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}

.menu-container button{
    padding: 10px 20px;
    color: #3C354F;
    background-color: rgba(11, 2, 35, 0.10);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}


/* banner styles */
.banner-container{
    margin: 0 auto;
    padding: 0% 12.5%;
    display: flex;
    justify-content: space-between;
}

.banner-text-container{
    width: 50%;
    display: flex;
    align-items: center;
    background-image: url("../images/Group\ 14.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text h2{
    font-size: 2.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #0B0223;
}

.banner-text h1{
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2, #8758F1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.banner-text p{
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    font-weight: 500;
    color: #534C64;
}

.banner-text p img{
    margin-right: 1%;
}

.banner-text button{
    margin: 5% 4% 0% 0%;
}

.banner-text button:last-child{
    background-color: #4EC5F7;
}

.banner-text button:last-child:hover{
    color: #4EC5F7;
    border: 2px solid #4EC5F7;
    background-color: white;
}

.banner-img-container{
    width: 50%;
}

.banner-img-container img{
    width: 100%;
}

/* we are gamers style */
.gamers-container{
    margin-top: 5%;
    padding: 0% 12.5%;
    display: flex;
    align-items: center;
}

.gamers-img{
    width: 60%;
}

.gamers-img img{
    width: 100%;
}

.gamers-text{
    width: 40%;
    text-align: right;
}

.gamers-quote-heading {
    font-size: 1.2rem;
    font-weight: 500;
    color: #534C64;
}

.gamers-text p{
    margin: 5% 0%;
}

.gamers-text h2:last-child{
    font-size: 1.5rem;
    font-weight: 700;
    color:#534C64;
}

.gamers-text button{
    margin-bottom: 5%;
}

/* funny videos style */
.funny-videos-container{
    margin: 10% 0%;
    padding: 0 12.5%;
    text-align: center;
}

.funny-videos-container > p{
    margin: 1% 0% 4%;
}

.videos-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}

.play-icon{
    display: none;
    color: white;
    width: 100%;
    height: 100%;
    border: 2px solid #ff47a1;
    border-radius: 5%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
}

.play-icon img{
    width: 10%;
}


.preview{
    position: relative;
}

.videos-container .preview:hover .play-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.videos-container img{
    width: 100%;
}

.videos-container p{
    margin-top: 5%;
    text-align: left;
    font-weight: 500;
    line-height: 22px;
}

/* instant play styles AND online game section */
.instant-play-container, .online-game-container{
    padding: 0 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.online-game-container{
    margin-top: 10%;
    flex-direction: row-reverse;
}

.instant-play-text, .online-game-text{
    width: 40%;
}

.instant-play-text{
    text-align: right;
}

.online-game-text{
    text-align: left;
}

.instant-play-text p, .online-game-text p{
    width: 70%;
    margin-top: 2%;
}

.instant-play-text p{
    margin-left: auto;
}

.instant-play-img-container, .online-game-img-container{
    width: 40%;
    position: relative;
}

.instant-play-img img, .online-game-img img{
    width: 100%;
}



.instant-play-img:last-child{
    width: 50%;
    position: absolute;
    left: -25%;
    bottom: -10%;
}

.online-game-img:last-child{
    width: 50%;
    position: absolute;
    right: -25%;
    bottom: -15%;
}

/* career section styles */
.career-container{
    margin-top: 15%;
    padding: 3% 0% 3% 12.5%;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%); 
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.career-text{
    width: 50%;
}

.career-text h2{
    color: white;
}

.career-text p{
    margin: 3% 0%;
    color: white;
    text-align: justify;
}

.career-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.career-location h4{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    line-height: 25px;
}

.career-location > div:last-child{
    text-align: right;
}

.career-text button{
    background-color: white;
    color:#FF42A5;
}

.career-img{
    width: 50%;
}


.career-img img{
    width: 100%;
}

/* categories style */
.categories-container{
    margin: 5% 0%;
    padding: 0% 12.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.categories-container button{
    padding: 8px 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 30px;
    color: #0B0223;
    transition: all 0.2s ease-out;
}

.categories-container button:hover{
    color: #FF42A5;
    background-color: white;
    border: 2px solid #FF42A5;
    cursor: pointer;
}

.categories-container img{
    width: 40px;
}

.categories-container p{
    font-size: 0.9rem;
    font-weight: 600;
}

/* footer style */
footer{
    padding: 5% 0;
    background-color: #0B0223;
}
.footer-title{
    display: flex;
    margin-bottom: 3%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.footer-menu{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer-menu a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.footer-icons{
    width: 30%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
}

.footer-icons img{
    width: 70%;
}

.settings{
    width: 45%;
    margin: 0 auto 2%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.settings a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500;
}

footer > p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500; 
}