 /* extra large device */
@media screen and (max-width:1200px) {
    .menu-container{
        width: 55%;
    }
}

/* large device */
@media screen and (max-width:992px) {
    :root{
        font-size: 15px;
    }

    .menu-container{
        width: 60%;
        margin-bottom: 5%;
    }

    .categories-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

/* medium device */
@media screen and (max-width:768px) {
    :root{
        font-size: 14px;
    }

    .primary-text{
        line-height: 20px;
    }

    .secondary-heading{
        font-size: 2rem;
    }

    .heading-dark {
        font-size: 2rem;
    }

    .nav-container{
        flex-direction: column;
        margin-top: 3%;
    }

    .menu-container{
        width: 100%;
        margin-top: 3%;
    }

    .banner-container{
        flex-direction: column-reverse;
    }

    .banner-img-container{
        width: 80%;
        margin: 0% auto 15%;
    }

    .banner-text-container{
        width: 100%;
        justify-content: center;
    }

    .banner-text{
        width: 50%;
    }

    .banner-text h2{
        font-size: 1.8rem;
    }

    .banner-text h1{
        font-size: 3.5rem;
    }

    .gamers-container,.instant-play-container,.online-game-container,.career-container{
        flex-direction: column;
    }

    .gamers-text,.instant-play-text,.online-game-text{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .career-container{
        padding: 12.5% 0%;
    }

    .career-text{
        width: 80%;
        margin: 0 auto;
    }

    .instant-play-text p{
        margin: 5% auto;
    }

    .online-game-text p {
        margin: 5% auto;
    }

    .gamers-img{
        width: 80%;
        margin: 0 auto;
    }

    .career-img{
        width: 80%;
        margin: 0 auto;
    }

    .instant-play-img-container,.online-game-img-container{
        width: 60%;
        margin: 0 auto;
    }

    .videos-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 10px;
        align-items: center;
    }

    .video{
        width: 100%;
        align-self: flex-start;
    }

    .video p{
        margin-top: 1%;
    }

}

/* small device */
@media screen and (max-width:576px) {
    :root{
        font-size: 12px;
    }

    .nav-container{
        margin-top: 5%;
    }

    .menu-container{
        margin-top:7%;
    }

    .menu-container ul{
        flex-direction: column;
    }

    .banner-img-container,.gamers-img,.gamers-text{
        width: 100%;
    }

    .banner-text{
        width: 60%;
    }

    .banner-text h2{
        font-size: 1.8rem;
    }

    .banner-text h1{
        font-size: 3.5rem;
    }

    .btn-primary{
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    .funny-videos-container{
        margin-top: 20%;
    }

    .funny-videos-container > p{
        margin: 1% 0% 10%;
    }

    .videos-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 0px;
        align-items: center;
    }

    .video{
        width: 90%;
        align-self: flex-start;
        justify-self: center;
    }

    .video p{
        margin-top: 1%;
        text-align: center;
    }

    .categories-container button{
        padding: 5px 10px;
    }

}

/* extra small device */
@media screen and (max-width:375px) {
    .categories-container {
        grid-template-columns: 0.7fr;
        justify-content: center;
        text-align: center;
    }
}