 /* extra large device */
@media screen and (max-width:1200px) {
    .menu-container{
        width: 55%;
    }
}

/* large device */
@media screen and (max-width:992px) {
    :root{
        font-size: 15px;
    }

    .menu-container{
        width: 60%;
        margin-bottom: 5%;
    }
}

/* medium device */
@media screen and (max-width:768px) {
    :root{
        font-size: 14px;
    }

    .nav-container{
        flex-direction: column;
        margin-top: 3%;
    }

    .menu-container{
        width: 100%;
        margin-top: 3%;
    }

    .banner-container{
        flex-direction: column-reverse;
    }

    .banner-img-container{
        width: 80%;
        margin: 0% auto 15%;
    }

    .banner-text-container{
        width: 100%;
        justify-content: center;
    }

    .banner-text{
        width: 50%;
    }

    .banner-text h2{
        font-size: 1.8rem;
    }

    .banner-text h1{
        font-size: 3.5rem;
    }
}

/* small device */
@media screen and (max-width:576px) {
    :root{
        font-size: 12px;
    }

    .nav-container{
        margin-top: 5%;
    }

    .menu-container{
        margin-top:7%;
    }

    .menu-container ul{
        flex-direction: column;
    }

    .banner-img-container{
        width: 100%;
    }

    .banner-text{
        width: 60%;
    }

    .banner-text h2{
        font-size: 1.8rem;
    }

    .banner-text h1{
        font-size: 3.5rem;
    }

    .btn-primary{
        padding: 8px 15px;
        font-size: 0.9rem;
    }

}